.col-md-12,
.col-md-4,
.col-md-3 {
  padding: 10px;
}
header .col-md-12{
  padding: 0 10px;
}
.main {
  margin-top: 5px;
  margin-bottom: 45px;
}
.main .top img,.main .brand-news img,.main .new-in img{
  width: 100%;
}
.main .top .content .wrap,
.main .brand-news .wrap,
.main .new-in .wrap {
  position: relative;
}
.main .top .content .wrap:hover div span,
.main .brand-news .wrap:hover div span,
.main .new-in .wrap:hover div span{
  background-color: #000;
  opacity: 0.6;
}
.main .top .content .wrap div,
.main .brand-news .wrap div,
.main .new-in .wrap div {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
}
.main .top .content .wrap span,
.main .brand-news .wrap span,
.main .new-in .wrap span{
  width: 100%;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  line-height: 2;
  padding: 0 15px;
  text-shadow: 1px 1px 2px #666;

  display: block;
  transition: 0.6s;
}
.main .top .more {
  font-size: 12px;
  text-align: right;
  color: #717171;
  text-decoration: none;
  display: block;
}
.main .tittle p {
  font-size: 18px;
  font-weight: 400;
  color: #717171;
  margin-top: 60px;
}
.main .tittle span {
  font-size: 22px;
  margin-left: 10px;
}
.main .product .wrap {
  margin: 35px 0;
}
.main .product .wrap span {
  font-size: 16px;
  color: #717171;
  padding-left: 18px;
}

